body {
  background-color: black;
  font-family: verdana;
}
main {
  text-align: center;
}
#first {
  font-weight: normal;
  font-size: 50px;
  color: white;
}
#second {
  font-weight: 300;
  font-size: 42px;
  color: white;
}
#third {
  font-size: 21px;
  color: gray;
}
#fourth {
  font-size: 42px;
  color: white;
  font-weight: 300;
}
footer {
  font-size: 20px;
  color: gray;
  text-align: right;
}
.cta {
  color: aquamarine;
  font-size: 16px;
}
